<div class="max_width_50">
  <h2 class="text-center"><%= t("devise.passwords.change_my_password") %></h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="max_width_75">
      <div class="field">
        <%= f.label :password, "#{t("devise.passwords.new_password")}", class:"form-label" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> <%= t("devise.supplement.characters_minimum") %>)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"form-control" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "#{t("devise.passwords.confirm_new_password")}", class:"form-label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
      </div>

      <div class="actions text-center padding_top">
        <%= f.submit t("devise.passwords.change_my_password"), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <div class="max_width_75">
    <%= render "devise/shared/links" %>
  </div>
</div>
