<p><%= t("devise.mailer.greeting", email: @resource.email) %></p>

<p><%= t("devise.mailer.reset_password_instructions.message1")%></p>

<p><%= link_to t('devise.mailer.reset_password_instructions.change_my_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t("devise.mailer.reset_password_instructions.message2")%></p>

<p><%= t("devise.mailer.reset_password_instructions.message3")%></p>
